  <div style="padding-left: 10px;">
    <h4 style="padding-bottom: 8px;">
      {{endpoint.title}}
    </h4>
    <small style="color: red">
      {{endpoint.method}}
    </small>
  <h4 style="padding-top: 14px; padding-bottom: 8px">
    Headers
  </h4>

  <div style="padding-bottom: 14px; color: grey">
    <small *ngFor="let key of arrayOfKeys">
      {{key}}: '{{endpoint.headers[key]}}'
      <br>
    </small>
  </div>

  <h4 style="padding-top: 14px; padding-bottom: 8px;">
    Base URL
  </h4>
  <div style="padding-bottom: 14px; color: grey">
    <small>
      {{endpoint.url}}
      <br>
    </small>
  </div>


  <div style="padding-bottom: 14px;">
    <h4>
      Body
    </h4>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.value.body)" style="padding-top: 12px;">
      
      <div formArrayName="body">
        <div *ngFor="let body of myForm.controls.body.controls; let i = index">
          <div [formGroupName]="i">
            <div style="padding-bottom: 12px;">
              <small>
                {{body.value.name}}<span *ngIf="body.value.name == 'Full name'" style="color: red">*</span>
            </small>
              <br>
              <input type="body.value.type" formControlName="input" placeholder="{{body.value.placeholder}}">
              <small *ngIf="body.value.name == 'Email'" [hidden]="myForm.controls.body.controls[i].controls.input.valid" class="text-danger">
               Must be between {{body.value.min}} and {{body.value.max}} characters
              </small>
              <small *ngIf="body.value.name == 'Full name'" [hidden]="myForm.controls.body.controls[i].controls.input.valid" class="text-danger">
               Required
              </small>
              <small *ngIf="body.value.name == 'Phone'" [hidden]="myForm.controls.body.controls[i].controls.input.valid" class="text-danger">
               Must match the pattern {{body.value.pattern}}
              </small>
            </div>

          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid" style="padding-top: 5px;">Send request</button>
    </form>
  </div>
  <div style="padding-top: 10px;">
    <div style="padding-bottom: 5px">
      Response
    </div>
    <textarea style="color: grey" rows="8" cols="50">{{displayJSON()}}</textarea>
  </div>
  <br>
</div>


